/*Coded By Sajid*/

.brand-logos li a img {
    width: auto !important;
}
.brand-logos li a img {
    width: 9% !important;
    margin-right: 1%;
}
.owl-carousel {
    display: inline-block;
}
.coupon-button span:before{
    left: 36px;
}
.coupon-button:hover span:before {
    left: 20px;
}
/*.featured-voucher-carousel .slick-next {*/
/*    position: absolute;*/
/*    top: -30px;*/
/*    right: 0;*/
/*    cursor: pointer;*/
/*}*/
